.wrapper{
	background-color: $primary-color;
	width: $primary-width;
	height: $primary-height;
	.container{
		background-color:$secondary-color;
		width:980px;
		max-width:980px;
		min-width:980px;
		text-align:center;
		    margin: 0 auto;
	}
	header{
		width:$primary-width;
		background-color:#000;
		padding:10px 15px;
		display: inline-block;
		color:$secondary-color;
		font-size:30px;
		a{
			color:$secondary-color;
			font-size:16px;
			text-decoration: underline
		}
	}
	span{display:inline-block}
}